.designProfile {
    height: 51em;
    width: 100vw;
    background-color: lightgray
    
}

.headerProfile {
    position: relative; 
    height: 10em;
    width: 100%;
    display: flex;
    justify-content: center;
}