.designHome {
    height: 45.7em;
    width: 100vw;
    background-image: url(../../img/fondito2.jpg);
    background-size: cover;
}

.buttonThreadNew {
    height: 4em;
    width: 4em;

    background-color: pink;
}