.designUserSearch {
    height: 39em;
    width: 100%;
    background-image: url(../../img/fondito2.jpg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}